LLM_API_KEY=[YOUR_LLM_API_KEY]
SEMANTIC_SCHOLAR_API_KEY=[YOUR_SEMANTIC_SCHOLAR_API_KEY]
openalex_mailto=[YOUR_EMAIL; OPTIONAL_BUT RECOMMENDED]
AWS_ACCESS_KEY_ID=[YOUR_AWS_ACCESS_KEY_ID]
AWS_SECRET_ACCESS_KEY=[YOUR_AWS_SECRET_ACCESS_KEY]